p#title {
  color: white;
  font-size: 150px;
  font-weight: bold;
  width: 1300px;
  background: #ff4500;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 135px;
  left:110px ;
}

p#date {
  font-size: 32px;
  background: #f5deb3;
  width: 270px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 720px;
  left:1180px ;
}

p#E1credit1 {
  font-size: 28px;
  background: #00ff7f;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 600px;
  left:240px ;

}

div#E1 {
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 210px;
  left:100px ;
}

div#E1credit2 {
  font-size: 28px;
  background: #00ff7f;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 600px;
  left:860px ;
}


p#E2credit1 {
  font-size: 28px;
  background: #00ff7f;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 600px;
  left:860px ;
}

img#E2 {
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 210px;
  left:800px ;

}

p#E2credit2 {
  background: #ffffff;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 710px;
  left:480px ;
}
