<!DOCTYPE html>
<html>
  <head>
    <title>気象情報FP1</title>
    <meta charset="utf-8">
    <link href="../TrafficRoadinfo.css" rel="stylesheet">
    <script src="../socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
    const socket = io.connect();
    $(function(){
        socket.on('dpsobserv', function(dpsobserv) {
          $("#DPS_getTime").html(" 観測日時</br>"+dpsobserv.DPS_getDay+" "+dpsobserv.DPS_getTime+" ");
          $("#rainfall").html(dpsobserv.rainfall+"mm");
          $("#temp").html(dpsobserv.temp+"℃");
          $("#windspeed").html(dpsobserv.windspeed+"m/s");
          $("#roadtemp").html(dpsobserv.roadtemp+"℃");
          $("#roadsit").html(dpsobserv.roadsit);
        });

        socket.on('roadInfoImage', function(roadInfoImage) {
          $("#oritate_getTime").html(roadInfoImage.oritate_getDay+" "+roadInfoImage.oritate_getTime);
          $("#oritate_img").attr("src",roadInfoImage.oritate_imagePath);
          $("#sakunami_getTime").html(roadInfoImage.sakunami_getDay+" "+roadInfoImage.sakunami_getTime);
          $("#sakunami_img").attr("src",roadInfoImage.sakunami_imagePath);
          $("#hirose_getTime").html(roadInfoImage.hirose_getDay+" "+roadInfoImage.hirose_getTime);
          $("#hirose_img").attr("src",roadInfoImage.hirose_imagePath);


        });

        socket.on('roadImage', function(roadImage) {
          $("#roadImage_getTime").html("撮影日時："+roadImage.roadImage_getDay+" "+roadImage.roadImage_getTime);
          $("#roadImage").attr("src",roadImage.roadImage_imagePath);
        });

        setTimeout(function(){
          socket.on('switch_flame', function() {
            location.href = "http://10.65.129.139:3000/weather/observ";
            console.log("気象情報フレームパターンへ")
          });
        },1000);
     });
    </script>



    <script>
        function set2fig(num) {
          // 桁数が1桁だったら先頭に0を加えて2桁に調整する
          var ret;
          if( num < 10 ) { ret = "0" + num; }
          else { ret = num; }
            return ret;
          }

          function showClock2() {
            var nowTime = new Date();
            var Year = nowTime.getFullYear();
            var Month = nowTime.getMonth()+1;
            var nowDate = nowTime.getDate();
            var week = nowTime.getDay();
            var weekArray = new Array("日","月","火","水","木","金","土");
            var nowHour = set2fig( nowTime.getHours() );
            var nowMin  = set2fig( nowTime.getMinutes() );

            var msg = Year +　"年"　+ Month +　"月"　+ nowDate + "日" + "(" + weekArray[week] + ")" + "&nbsp;" + nowHour + ":" + nowMin;
            document.getElementById("date").innerHTML = msg;
            }
            setInterval('showClock2()',1000);
    </script>
  </head>

  <body>
    <img src="../traffic_road_title.png" alt="タイトル"></img>
    <p id="date"></p>

<!-- 道路情報板 -->
　　<img id="road" src="../road_image.png" alt="道路概略図"></img>

    <div class="roadInfoImage" id="oritate">
      <div  id="oritate_label"> 折立(仙台市) </div>
      <img id="oritate_img" src="" alt="折立"></img>
      <div id="oritate_getTime"></div>
    </div>

    <div  id="sakunami">
      <div  id="sakunami_label"> 作並(仙台市) </div>
      <img id="sakunami_img" src="" alt="作並"></img>
      <div id="sakunami_getTime"></div>
    </div>

    <div class="roadInfoImage" id="hirose">
      <div  id="hirose_label"> 広瀬通(仙台市) </div>
      <img id="hirose_img" src="" alt="広瀬通"></img>
      <div id="hirose_getTime"></div>
    </div>

<!-- 全天カメラ -->
    <div id="camera_label"> 愛子の空模様 </div>
    <img id="camera" src="http://10.64.199.7/axis-cgi/mjpg/video.cgi?camera=1&1607409907723" alt="全天カメラ"></img>
<!-- 路面状況写真 -->
      <div id="roadImage_label"> 愛子防災ステーション </div>
      <p  id="roadImage_getTime"></p>
      <img id="roadImage" src="" ></img>


<!-- 観測値(愛子防災ステーション) -->
      <p id="DPS_getTime"></p>
      <table id="DPSObserv_table" border="1" width="200" cellpadding="10">
       <tr>
         <th>累加雨量</th><td id="rainfall"></td>
       </tr>
       <tr>
         <th>気温</th><td id="temp"></td>
       </tr>
       <tr>
         <th>風速</th><td id="windspeed"></td>
       </tr>
       <tr>
         <th>路面温度</th><td id="roadtemp"></td>
       </tr>
       <tr>
         <th>路面状況</th><td id="roadsit"></td>
       </tr>
     </table>

  </body>
</html>
