p#title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  width: 600px;
  background: #ff4500;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: -50px;
  left:10px ;
}

p#date {
  font-size: 35px;
  background: #f5deb3;
  width: 270px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 10px;
  left:1180px ;
}

p#E1credit1 {
  font-size: 28px;
  background: #00ff7f;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 100px;
  left:240px ;

}

div#E1 {
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 210px;
  left:100px ;
}

p#E1credit2 {
  font-size: 20px;
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 1000px;
  left:10px ;
}


p#E2credit1 {
  font-size: 28px;
  background: #00ff7f;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 100px;
  left:860px ;
}


p#E2credit2 {
  font-size: 20px;
  background: #ffffff;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 1000px;
  left:600px ;
}
