p#title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  width: 600px;
  background: #ff4500;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: -50px;
  left:10px ;
}

p#date {
  font-size: 35px;
  background: #f5deb3;
  width: 270px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 10px;
  left:1180px ;
}


p#info {
  font-size: 20px;
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 70px;
  left:1200px ;
}

p#E1credit1 {
  font-size: 28px;
  background: #00ff7f;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 100px;
  left:240px ;

}

.element{
display: inline-block;
background: #ffffff;
text-align: center;
border: 1px solid #cccccc;
position: absolute;
width: 240px;
height: 180px;
margin: 1em;
}

.side{
  display: inline;
}

div#temp {
  top: 210px;
  left:80px ;
}

    p#tempL {
      white-space: nowrap;
      font-size: 30px;
      line-height: 0em;
    }

    p#tempD {
      white-space: nowrap;
      font-size: 75px;
      line-height: 1em;
    }

    p#tempU {
      font-size: 30px;
      line-height: 1em;
    }

div#humi {
  top: 210px;
  left:370px ;
}
    p#humiL {
      white-space: nowrap;
      font-size: 30px;
      line-height: 0em;
    }

    p#humiD {
      white-space: nowrap;
      font-size: 75px;
      line-height: 1em;
    }

    p#humiU {
      font-size: 30px;
      line-height: 1em;
    }



div#wind_s {
  top: 410px;
  left:80px ;
}

    p#wind_sL {
      white-space: nowrap;
      font-size: 30px;
      line-height: 0em;
    }

    p#wind_sD {
      white-space: nowrap;
      font-size: 75px;
      line-height: 1em;
    }

    p#wind_sU {
      font-size: 30px;
      line-height: 1em;
    }


div#wind_d {
  top: 410px;
  left:370px ;
}

    p#wind_dL {
      white-space: nowrap;
      font-size: 30px;
      line-height: 0em;
    }

    p#wind_dD {
      white-space: nowrap;
      font-size: 75px;
      line-height: 1em;
    }


div#wind_max_s {
  top: 610px;
  left:80px ;
}

    p#wind_max_sL {
      white-space: nowrap;
      font-size: 30px;
      line-height: 0em;
    }

    p#wind_max_sD {
      white-space: nowrap;
      font-size: 75px;
      line-height: 1em;
    }

    p#wind_max_sU {
      font-size: 30px;
      line-height: 1em;
    }


div#press_l {
  top: 610px;
  left:370px ;
}

    p#press_lL {
      white-space: nowrap;
      font-size: 30px;
      line-height: 0em;
    }

    p#press_lD {
      white-space: nowrap;
      font-size: 60px;
      line-height: 1em;
    }

    p#pless_lU {
      font-size: 30px;
      line-height: 1em;
    }

div#rain_i {
  top: 810px;
  left:80px ;
}

    p#rain_iL {
      white-space: nowrap;
      font-size: 30px;
      line-height: 0em;
    }

    p#rain_iD {
      white-space: nowrap;
      font-size: 75px;
      line-height: 1em;
    }

    p#rain_iU {
      font-size: 30px;
      line-height: 1em;
    }


div#rain_m {
  top: 810px;
  left:370px ;
}

    p#rain_mL {
      white-space: nowrap;
      font-size: 30px;
      line-height: 1em;
    }

    p#rain_mD {
      white-space: nowrap;
      font-size: 75px;
      line-height: 0em;
    }

    p#rain_mU {
      font-size: 30px;
      line-height: 1em;
    }

p#E1credit2 {
  background: #ffffff;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  width: 100px;
  height: 20px;
  top: 1000px;
  left:10px ;
}


p#E2credit1 {
  font-size: 28px;
  background: #00ff7f;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 100px;
  left:860px ;
}


p#E2credit2 {
  font-size: 20px;
  background: #ffffff;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 1000px;
  left:600px ;
}
