img#title {
  width: 2100px;
  background: #ff4500;
  padding: 10px;
  top: -75px;
  left:10px ;
  height: 250px;
}

p#date {
  white-space: nowrap;
  font-size: 50px;
  width: 270px;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 135px;
  left:1250px ;
  z-index: 30;
}


p#info {
  font-size: 60px;
  background: #fffacd;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 40px;
  position: absolute;
  width: 800px;
  top: 200px;
  left:1170px ;
  z-index: 30;
}

p#E1credit1 {
  font-size: 35px;
  background: #afeeee;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  position: absolute;
  top: 180px;
  left:120px ;

}

.Label{
display: inline-block;
background: #ffffff;
text-align: center;
border: 1px solid #cccccc;
position: absolute;
width: 250px;
height: 200px;
margin: 1em;
}

.element{
display: inline-block;
background: #ffffff;
text-align: center;
border: 1px solid #cccccc;
position: absolute;
width: 400px;
height: 200px;
margin: 1em;
}

.side{
  display: inline;
}





div#maxTemp_U {
  top: 450px;
  left:1350px;
  font-size: 70px;
  line-height: 1.3em;
}


div#Max {
  top: 505px;
  left:1650px;
}


    p#maxTemp {
      white-space: nowrap;
      font-size: 80px;
      line-height: 0em;
      color: #BA2727;
    }
    p#maxTempTime {
      white-space: nowrap;
      font-size: 35px;
      line-height: 1em;
    }


div#minTemp_U {
  top: 650px;
  left:1350px;
  font-size: 70px;
  line-height: 1.3em;
}

    div#Min {
      top: 705px;
      left:1650px;
    }

        p#minTemp {
          white-space: nowrap;
          font-size: 80px;
          line-height: 0em;
          color: #0000cd;
        }

        p#minTempTime {
          white-space: nowrap;
          font-size: 35px;
          line-height: 1em;
        }




div#latestTemp_U {
      top: 1005px;
      left:1350px;
      font-size: 70px;
      line-height: 1.3em;
    }


    div#latest {
      top: 1060px;
      left:1650px;
    }

        p#latestTemp {
          white-space: nowrap;
          font-size: 80px;
          line-height: 0em;
        }


        p#latestTempTime {
          white-space: nowrap;
          font-size: 35px;
          line-height: 1em;
        }






div#curve_chart {
  position: absolute;
  z-index: 10;
  top: 200px;
  left:10px ;
}
