img#title {
  width: 2100px;
  background: #ff4500;
  padding: 10px;
  top: -75px;
  left:10px ;
  height: 250px;
}

p#date {
  white-space: nowrap;
  font-size: 50px;
  width: 270px;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 135px;
  left:1250px ;
  z-index: 30;
}

/*道路情報板の概略図*/
img#road {
  position: fixed;
  top:250px;
  left:35px;
}

/*道路情報板クラス ブロック・ラベル等*/
.roadInfoImage {
  font-size: 25px;
  display: inline-block;
  background: #ffffff;
  text-align: center;
  border: 1px solid #cccccc;
  position: fixed;
  width: 400px;
  height: 200px;
}

    /*道路情報板画像自動切り替え部分*/
    .switch {
    	margin: auto;
    	background-color: white;
    	position: relative;
    }

    .switch img {
    	width: 72%;
    	animation-name: album;
    	-webkit-animation-name: album;
    	animation-duration: 20s;
    	-webkit-animation-duration: 20s;
    	animation-iteration-count: infinite;
    	-webkit-animation-iteration-count: infinite;
    	opacity: 0;
    }

    .switch .img1 {
    	display: block;
    	margin: 0 auto;
    }

    .switch .img2 {
    	animation-delay:10s;
    	-webkit-animation-delay:10s;
    	position: absolute;
    	top: 0;
    	left: 15%;
    }

    @keyframes switch {
    	0% {
    		opacity: 0;
    	}

    	10.5% {
    		opacity: 1;
    	}

    	45.5% {
    		opacity: 1;
    	}
    	50% {
    		opacity: 0;
    	}
    }

    @-webkit-keyframes album {
    	0% {
    		opacity: 0;
    	}

    	12.5% {
    		opacity: 1;
    	}

    	37.5% {
    		opacity: 1;
    	}
    	50% {
    		opacity: 0;
    	}
    }

div#oritate {
  position: fixed;
  top: 185px;
  left:730px ;
}

div#oritate_label {

}

div#oritate_image {
}

div#oritate_getTime {

}



div#sakunami {
  font-size: 25px;
  display: inline-block;
  background: #ffffff;
  text-align: center;
  border: 1px solid #cccccc;
  position: fixed;
  width: 430px;
  height: 170px;
  top: 510px;
  left:50px ;
}

div#sakunami_label {
}

div#sakunami_image {
}

div#sakunami_getTime {
}


div#hirose {
  position: fixed;
  top: 510px;
  left:1650px ;
}

div#hirose_label {
}

div#hirose_image {
}

div#hirose_getTime {
}

/*全天カメラ*/
div#camera_label{
  font-size: 40px;
  background: #ff0000;
  color:#dcdcdc;
  padding: 5px;
  text-align: center;
  border: 1px solid #cccccc;
  position: fixed;
  top: 710px;
  left:170px ;
}

img#camera{
  position: fixed;
  width: 600px;
  top: 790px;
  left:30px ;
}


/*路面状況写真*/
div#roadImage_label{
  font-size: 40px;
  color:#dcdcdc;
  background: #ff0000;
  padding: 5px;
  text-align: center;
  position: fixed;
  top: 525px;
  left:705px ;
}

p#roadImage_getTime{
  font-size: 30px;
  position:fixed;
  top: 525px;
  left:1090px ;

}

img#roadImage{
  position:fixed;
  width: 830px;
  top: 630px;
  left:760px ;
}


/*観測値(愛子防災ステーション)*/
p#DPS_getTime{
  font-size: 40px;
  color:#dcdcdc;
  background: #ff0000;
  text-align: center;
  padding: 5px;
  position: fixed;
  top: 710px;
  left:1650px ;
}

table#DPSObserv_table{
  position: fixed;
  font-size: 30px;
  top: 840px;
  left:1670px ;
  width: 400px;
}




/*使うかわからんクラス*/
.name_label{
display: inline-block;
background: #ffffff;
text-align: center;
border: 1px solid #cccccc;
position: fixed;
width: 400px;
height: 200px;
margin: 1em;
}
